@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$font-family: 'Roboto', sans-serif;

$base-color: #394783;
$secondary-color: #5d699a;
$secondary-text-color: #f4f5f8;
$content-color: #e7e9f3;
$footer-color: #f3f3f3;
$muted-color: #8b8b8b;
$error-color: #aa0000;

$base-text-color: #65709f;
$black-text-color: #505050;

$border-color: #d5dae3;
$border-radius: 5px;

$selected-white-color: #fafbfc;

$modal-layer: 100;

$title-size: 14px;
$error-size: 12px;
$button-text-size: 15px;